# 주피터 노트북

In [1]:
# 한줄 주석
'''
여러줄 주석
여러줄
코딩 시작.:2021.10.09
'''
"""
여러줄
"""
1+1

2

# 데이터 타입
## 1. 주요 데이터 타입
- 문자, 숫자, bool
- 문자 : '문자', "문자"
- 숫자 : 숫자 그대로 사용
    - 정수 : int
    - 실수 : float
- bool

In [5]:
1+1
'파'+'이썬'
True+True

2

# 산술연산자
## +,-,*,/
## //(몫), %(나머지), **(제곱승)

## 문자열 연결연산자 : +, 반복연산자 : *

In [6]:
'a'*5

'aaaaa'

In [8]:
print(1+1)
print("파이썬")

2
파이썬

## 변수
- 데이터를 저장할 수 있는 메모리 공간
# 변수명 = 값

a = 1
b = 1 ; c = 2

In [ ]:
my_name, myName

In [10]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

In [18]:
a = '백문이 불여일견'
b = '백견이 불여일타'


print(a)
print(b)
print('====')
print(a,end = ' ')
print(b)
print('====')
print(a, b, sep=', ')

백문이 불여일견
백견이 불여일타
====
백문이 불여일견 백견이 불여일타
====
백문이 불여일견, 백견이 불여일타

In [35]:
name = '홍길동'
age = 20
# 
print('내 이름은 ' + name + '이고, 나이는 ' + str(age) + '입니다.')
# 
print('내 이름은 %s 이고, 나이는 %d입니다.'%(name, age))
# format()함수
print('내 이름은 {} 이고, 나이는 {}입니다.'.format(name, age))
# f문자열
print(f'내 이름은 {name} 이고, 나이는 {age}입니다.')

내 이름은 홍길동이고, 나이는 21입니다.
내 이름은 홍길동 이고, 나이는 20입니다.
내 이름은 홍길동 이고, 나이는 20입니다.
내 이름은 홍길동 이고, 나이는 20입니다.

## 인덱싱[숫자]
## 슬라이싱[이상:미만:간격]
- 문자열 길이를 구하는 함수 len

In [46]:
a = '백문이 불어일타'

print(a[2::2])
print(a[2:-1])

이불일
이 불어일

In [44]:
# input() 함수는 문자형 자료입력받는다

a = input('이름은 ?')
print(a, '반갑습니다.')

이름은 ?신미경 선생님
신미경 선생님 반갑습니다.

In [50]:
a = input('투입금액 : ')
print(int(a)//500, '개 교환')

투입금액 : 1500
3 개 교환

# 집합 자료형
- 리스트 []
- 튜플 ()
- 딕셔너리 {} {key1 : value1, key2 : value2...}

In [51]:
# list
list1 = ['김길동', '홍길동', '박길동']
list2 = [1, 2, 3, 50]
list3 = [10,20,30,['가지', '오이']]

print(list1)
print(list2)
print(list3)

['김길동', '홍길동', '박길동']
[1, 2, 3, 50]
[10, 20, 30, ['가지', '오이']]

In [56]:
print(list1[1])
print(list2[1:3])
print(list3[3][0])

홍길동
[2, 3]
가지

In [58]:
list1[1] = '강길동'
list1

['김길동', '강길동', '박길동']

In [59]:
list1.append('이길동')
list1

['김길동', '강길동', '박길동', '이길동']

In [60]:
list1.insert(2, '양길동')
list1

['김길동', '강길동', '양길동', '박길동', '이길동']

In [61]:
del list1[2]
list1

['김길동', '강길동', '박길동', '이길동']

In [62]:
ab = (1, 2, 3) #튜플
cd = {'name' : '인재원', 'tel' : '3232-5655'} #딕셔너리

list1.append(ab)
list1.append(cd)
list1

['김길동', '강길동', '박길동', '이길동', (1, 2, 3), {'name': '인재원', 'tel': '3232-5655'}]

In [64]:
list1[5]['tel']

'3232-5655'

In [65]:
a = [1, 2, 3]
b = a
print(b)

[1, 2, 3]

In [67]:
b.append('5')
b

[1, 2, 3, '5']

In [68]:
a

[1, 2, 3, '5']

In [69]:
c = a[:]
c

[1, 2, 3, '5']

In [70]:
c.append(4)
c

[1, 2, 3, '5', 4]

In [72]:
# 튜플, 리스트와 동일한 방법을 사용, () 사용, 변경이 안됨.
a = (1, 2, 'b', [3,4,5,10])
a[3]

[3, 4, 5, 10]

In [76]:
# 딕셔너리 {} : key 불편, value 변한다. 
a = {'name' : '인재원', 'tel' : '235-5654'}
print(a)

a['tel'] = '02-235-5651'

print(a)
del a['tel']
print(a)

{'name': '인재원', 'tel': '235-5654'}
{'name': '인재원', 'tel': '02-235-5651'}
{'name': '인재원'}

## 조건문
- 조건의 결과에 따라 실행되는 문장이 결정
- if, for, while, break, countinue
- 들여쓰기를 지켜야한다.

In [83]:
# if
'''
if 조건 :
    실행문장
elif 조건 :
    실행문장
else :
    실행문장
'''

# 근속년수를 입력받아 근무년수가 20년이상이면, 상여 50만원, 아니면 30만원을 지급

a = int(input('근무년수 : '))

if a >= 20 :
    print('50만원')
else :
    print('30만원')

근무년수 : 50
50만원

In [89]:
# 나이를 입력받아, 나이가 8세 이하이거나, 65세 이상이면 입장료 무료 출력
# 아니면 입장료 5000원 출력

iAge = int(input('나이 입력 : '))
if iAge >= 65 or iAge <= 8 :
    print('입장료 무료')
else :
    print('5000원')
# & and
# | or

나이 입력 : 65
입장료 무료

In [93]:
iAge = int(input('나이 입력 : '))
if 8 < iAge < 65 :
    print('5000원')
else :
    print('입장료 무료')

나이 입력 : 9
입장료 무료

In [ ]:
# 중첩 if
if 날씨가좋다 :
    if 약속 :
        약속 준비
    else :
        놀러간다
else :
    if 약속 :
        약속취소
    else
        잔다

# 반복문 (while, for)
- while : 조건문이 참이면 반복, 거짓이면 멈추고 빠져나온다.
- for : 지정확 조건만큼 실행

In [101]:
a = 1
while a <= 10:
    a = a + 1
    if a == 7 :
        break
    if a % 2 == 1 :
        continue
    print(a, '출력')

2 출력
4 출력
6 출력

In [103]:
# for 변수 in range() :
#     실행문장

# for i in [1,2,3,4] :
#     print(i)

for i in range(5, 11) :
    print(i)

5
6
7
8
9
10

In [104]:
# for 문 이용, heelo python 5번 출력.
for i in range(5) :
    print('hello', end = ' ')
    print('python')

hello python
hello python
hello python
hello python
hello python

In [108]:
# 구구단을 입력받아 구구단을 출력
a = int(input('구구단을 선택해주세요 : '))
for i in range(1, 10) :
    print(a , 'x' , i, '=', a*i)

구구단을 선택해주세요 : 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

In [110]:
for i in range(10) :
    if i == 5 :
        continue
    if i == 8 :
        break
    
    print(i, '출력')

0 출력
1 출력
2 출력
3 출력
4 출력
6 출력
7 출력

In [117]:
'''
for 중첩
*
**
***
...
*********
'''

for i in range(1, 10) :
    print(i, end = ' ')
    for j in range(i) :
        print('*', end = '')
    print()

1 *
2 **
3 ***
4 ****
5 *****
6 ******
7 *******
8 ********
9 *********

In [121]:
# 영어 학습프로그램 작성
words = {'학교' : 'school', '컴퓨터' : 'computer', '책상' : 'desk'}

for i in words :
    eng = input(i + ' 영어스펠링은? ')
    if eng.upper() == words[i].upper() :
        print('정답')
    else :
        print('오답')

학교 의 영어 스펠링은?scHoOL
정답
컴퓨터 의 영어 스펠링은?3
오답
책상 의 영어 스펠링은?5
오답

# 예외처리 except

In [ ]:
'''
try :
    예외처리 유발하는 구문...
except :
    예외처리 실행
else :
    예외없이 실행이 완료된경우에 실행
finally :
    예외 발생여부와 상관없이 실행(항상)
'''

In [122]:
try :
    10/5
except Exception as e :
    print('오류정보는 : ' ,str(e))
else :
    print('ok')
finally :
    print('---end---')

오류정보는 :  division by zero

# 함수 : 입력값을 넣어주면 내부적으로 계산, 처리 후 결과를 돌려주는 상자

In [127]:
def hi() :
    print('hi----')

In [126]:
hi()

hi----

In [128]:
def sumA(a, b, c = 5) :
    return a + b + c

print(sumA(1,2))
print(sumA(10000, 3000))

3
13000